<?xml version='1.0' encoding='utf-8'?>
<widget id="acompanhamento.vestcederj.provaecomprova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Acompanhamento CEDERJ</name>
    <description>
        Acompanhamento do vestibular CEDERJ.
    </description>
    <author email="vestibular@cecierj.edu.br" href="http://cederj.edu.br/fundacao/">
        Vestibular CEDERJ
    </author>
    <content src="index.html" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm"/>
	<gap:plugin name="cordova-plugin-dialogs" source="npm"/>
	
	
    <access origin="*" />
	<allow-intent href="*" />
	<allow-navigation href="*" />
	<icon src="icon.png" />
	<splash src="splash.png" />
</widget>
